* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e8c7f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center
}
main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 550px;
}
.photo {
    text-align: center;
    margin: 20px 0;
}
.photo img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    border: 5px solid #7200f5;
}
p {
    margin: 20px ;
    line-height: 1.6;
    color: #02162b;
    font-family: 'Dancing Script', cursive;
    
}

h2 {
    margin: 20px 0 10px;
    color: #7200f5;
    border-bottom: 2px solid #7200f5;
    padding-bottom: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #c2adda;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s;
    font-family: 'Dancing Script', cursive;
}